<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Firing employee...</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to fire {{employee.name}} joined on {{employee.date}} <input [ngStyle]="{border:'0px'}" [(ngModel)]="employee.name" type="text" readonly>
    <button (click)="passBack()" type="submit" class="btn btn-primary w-100">Fire</button>
  </div>